# Ambiente virtual
venv/
.env

# Banco de dados SQLite (se estiveres a usar SQLite para testes)
*.sqlite3
*.sqlite

# Arquivos de cache e logs
*.log
*.pyc
__pycache__/

# Arquivos gerados pelo Django
*.pot
*.py[co]

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração local
/local_settings.py
/local.env

# Arquivos de build e distribuição
/dist/
/build/
*.egg-info/
*.egg

# Arquivos de testes e cobertura
/htmlcov/
/.coverage
/.pytest_cache/

# Arquivos de dependências
/node_modules/
/bower_components/

# Outros
*.bak
*.tmp
*.cache